#Pandas assignment_2

In [1]:
# Q1. List any five functions of the pandas library with execution.

# head(): Returns the first n rows of the DataFrame.
import pandas as pd

data = {'A': [1, 2, 3, 4, 5], 'B': [6, 7, 8, 9, 10]}
df = pd.DataFrame(data)
print(df.head(3))

   A  B
0  1  6
1  2  7
2  3  8

In [2]:
# tail(): Returns the last n rows of the DataFrame
print(df.tail(2))

   A   B
3  4   9
4  5  10

In [3]:
#describe(): Generates descriptive statistics
print(df.describe())

              A          B
count  5.000000   5.000000
mean   3.000000   8.000000
std    1.581139   1.581139
min    1.000000   6.000000
25%    2.000000   7.000000
50%    3.000000   8.000000
75%    4.000000   9.000000
max    5.000000  10.000000

In [4]:
#info(): Provides a concise summary of the DataFrame
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       5 non-null      int64
 1   B       5 non-null      int64
dtypes: int64(2)
memory usage: 208.0 bytes
None

In [5]:
#drop(): Drops specified labels from rows or columns
df_dropped = df.drop(['A'], axis=1)
print(df_dropped)

    B
0   6
1   7
2   8
3   9
4  10

In [6]:
# Q2. Re-index the DataFrame with a new index that starts from 1 and increments by 2 for each row
def reindex_dataframe(df):
    new_index = range(1, 2*len(df) + 1, 2)
    df.index = new_index
    return df

data = {'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}
df = pd.DataFrame(data)
df_reindexed = reindex_dataframe(df)
print(df_reindexed)

   A  B  C
1  1  4  7
3  2  5  8
5  3  6  9

In [7]:
#Q3. Calculate the sum of the first three values in the 'Values' column
def sum_first_three(df):
    sum_values = df['Values'].head(3).sum()
    print(sum_values)

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
sum_first_three(df)

60

In [8]:
#Q4. Create a new column 'Word_Count' that contains the number of words in each row of the 'Text' column.
def add_word_count(df):
    df['Word_Count'] = df['Text'].apply(lambda x: len(str(x).split()))
    return df

data = {'Text': ['Hello world', 'Pandas is great', 'Python programming']}
df = pd.DataFrame(data)
df = add_word_count(df)
print(df)

                 Text  Word_Count
0         Hello world           2
1     Pandas is great           3
2  Python programming           2

In [9]:
# #Q5. How are DataFrame.size() and DataFrame.shape() different?
# DataFrame.size: Returns the number of elements in the DataFrame (rows * columns).
# DataFrame.shape: Returns a tuple representing the dimensionality of the DataFrame (rows, columns)
data = {'A': [1, 2, 3], 'B': [4, 5, 6]}
df = pd.DataFrame(data)
print(f"Size: {df.size}")
print(f"Shape: {df.shape}")

Size: 6
Shape: (3, 2)

In [11]:
#Q6. Which function of pandas do we use to read an excel file
# Use the read_excel() function

#df = pd.read_excel('file.xlsx')

In [12]:
# Q7. Create a new column 'Username' that contains only the username part of each email address.
def extract_username(df):
    df['Username'] = df['Email'].apply(lambda x: x.split('@')[0])
    return df

data = {'Email': ['john.doe@example.com', 'jane.doe@example.com']}
df = pd.DataFrame(data)
df = extract_username(df)
print(df)

                  Email  Username
0  john.doe@example.com  john.doe
1  jane.doe@example.com  jane.doe

In [13]:
# Q8. Select all rows where the value in column 'A' is greater than 5 and the value in column 'B' is less than 10
def select_rows(df):
    return df[(df['A'] > 5) & (df['B'] < 10)]

data = {'A': [3, 8, 6, 2, 9], 'B': [5, 2, 9, 3, 1], 'C': [1, 7, 4, 5, 2]}
df = pd.DataFrame(data)
selected_df = select_rows(df)
print(selected_df)

   A  B  C
1  8  2  7
2  6  9  4
4  9  1  2

In [14]:
#Q9. Calculate the mean, median, and standard deviation of the values in the 'Values' column
def calculate_stats(df):
    mean_value = df['Values'].mean()
    median_value = df['Values'].median()
    std_dev = df['Values'].std()
    return mean_value, median_value, std_dev

data = {'Values': [10, 20, 30, 40, 50]}
df = pd.DataFrame(data)
mean_value, median_value, std_dev = calculate_stats(df)
print(f"Mean: {mean_value}, Median: {median_value}, Standard Deviation: {std_dev}")

Mean: 30.0, Median: 30.0, Standard Deviation: 15.811388300841896

In [15]:
#Q10. Create a new column 'MovingAverage' that contains the moving average of the sales for the past 7 days
def add_moving_average(df):
    df['MovingAverage'] = df['Sales'].rolling(window=7).mean()
    return df

data = {'Sales': [100, 200, 150, 300, 400, 250, 500, 450, 350, 200], 'Date': pd.date_range(start='2023-01-01', periods=10)}
df = pd.DataFrame(data)
df = add_moving_average(df)
print(df)

   Sales       Date  MovingAverage
0    100 2023-01-01            NaN
1    200 2023-01-02            NaN
2    150 2023-01-03            NaN
3    300 2023-01-04            NaN
4    400 2023-01-05            NaN
5    250 2023-01-06            NaN
6    500 2023-01-07     271.428571
7    450 2023-01-08     321.428571
8    350 2023-01-09     342.857143
9    200 2023-01-10     350.000000

In [16]:
#Q11. Create a new column 'Weekday' that contains the weekday name corresponding to each date in the 'Date' column
def add_weekday(df):
    df['Weekday'] = pd.to_datetime(df['Date']).dt.day_name()
    return df

data = {'Date': pd.date_range(start='2023-01-01', periods=5)}
df = pd.DataFrame(data)
df = add_weekday(df)
print(df)

        Date    Weekday
0 2023-01-01     Sunday
1 2023-01-02     Monday
2 2023-01-03    Tuesday
3 2023-01-04  Wednesday
4 2023-01-05   Thursday