#Pandas assignment_1

In [1]:
#Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series

import pandas as pd

# Creating a Pandas Series
data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)

# Printing the Series
print(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
#Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it
# Creating a list with 10 elements
list_data = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Converting the list to a Pandas Series
series_from_list = pd.Series(list_data)

# Printing the Series
print(series_from_list)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [3]:
#Q3. Create a Pandas DataFrame that contains the following data
# Creating a DataFrame
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25,30,27],
    'Gender': ['Female', 'Male','Female']
}
df = pd.DataFrame(data)

# Printing the DataFrame
print(df)

      Name  Age  Gender
0    Alice   25  Female
1      Bob   30    Male
2  Charlie   27  Female

In [4]:
# Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.Series? Explain with an example.
# A DataFrame in pandas is a two-dimensional, size-mutable, and heterogeneous tabular data structure with labeled axes (rows and columns).
# It is similar to a table in a database or an Excel spreadsheet.
# A Series, on the other hand, is a one-dimensional labeled array capable of holding any data type.
# Creating a Series
series = pd.Series([1, 2, 3, 4])
print("Series:")
print(series)

# Creating a DataFrame
data = {
    'Column1': [1, 2, 3, 4],
    'Column2': ['A', 'B', 'C', 'D']
}
df = pd.DataFrame(data)
print("\nDataFrame:")
print(df)

Series:
0    1
1    2
2    3
3    4
dtype: int64

DataFrame:
   Column1 Column2
0        1       A
1        2       B
2        3       C
3        4       D

In [8]:
# Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can you give an example of when you might use one of these functions?

# Some common functions to manipulate data in a Pandas DataFrame include:

# head(): View the first few rows.
# tail(): View the last few rows.
# describe(): Get a summary of statistics.
# info(): Get information about the DataFrame.
# groupby(): Group data by a specific column.
# merge(): Merge DataFrames.
# drop(): Drop specified labels from rows or columns.
# Q5 Example using `groupby`
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'Alice', 'Bob'],
    'Score': [85, 90, 78, 95, 88],
    'Subject': ['Math', 'Math', 'Math', 'Science', 'Science']
}
df = pd.DataFrame(data)
df.head()

      Name  Score  Subject
0    Alice     85     Math
1      Bob     90     Math
2  Charlie     78     Math
3    Alice     95  Science
4      Bob     88  Science

In [9]:
# Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
# Both Series and DataFrame are mutable in nature.
# The Panel data structure was deprecated in Pandas version 0.20.0 and removed in version 1.0.0

In [10]:
#Q7. Create a DataFrame using multiple Series. Explain with an example
# Q7
series1 = pd.Series([1, 2, 3], name='Column1')
series2 = pd.Series(['A', 'B', 'C'], name='Column2')
series3 = pd.Series([True, False, True], name='Column3')

df_from_series = pd.concat([series1, series2, series3], axis=1)
print(df_from_series)

   Column1 Column2  Column3
0        1       A     True
1        2       B    False
2        3       C     True